@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");






*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;   
}

body{
    background-image:url(bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    
    text-align: center;
    font-family: 'Satisfy','Nunito','Varela Round', sans-serif;
    font-size: 75px;
    padding-top: 20px;
}

h3{
    text-align: center;
    position: relative;
    font-size: 32px;
    font-family:'Amatic SC','Satisfy','Nunito','Varela Round', sans-serif ;
    bottom: 10px;
}


.signup-form-container{
    font-family: 'Nunito','Varela Round', sans-serif;
    position: fixed;
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 85px;
}


.email{
    text-align: left;
}
.username{
    text-align: left;
}

.password{
    text-align: left;
}
 

.signup-form-container form{
    font-size: 20px;
    position: relative;
    bottom: 8px;
    margin: 35px;
    padding: 30px  35px;
    border: 1px solid rgba(61, 61, 61, 0.712);
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.7);
    width: 360px;
    height: 500px;
    text-align: center;
    box-shadow: 3.5px 5.5px rgba(62, 62, 62, 0.793);
}

.signup-form-container form p
{
    font-weight: 600;
}
 
h2{
   position: relative;
   bottom: 12px;
}

    
.box{
    border: 2px solid rgb(98, 98, 98);
    border-radius: 20px;
    margin: 8px;
    height: 40px;
    width: 250px;
    padding-left: 25px;
    font-size: 17px;
    font-family:'Nunito','Varela Round', sans-serif ;
    font-weight: 600;
}
.button{
    
    border-radius: 20px;
    border:1.5px solid rgb(21, 21, 20);
    font-weight: 580;
    box-shadow: 1.5px 2px rgba(43, 44, 44, 0.549);
    width: 140px;
    height: 40px;
    position: relative;
    top: 5px;
    background: rgba(70, 142, 164, 0.329);
}
.account{
    text-align: center;
    font-size: 18px;
    line-height: 45px;
}

.logo{
    font-family: 'Nunito','Varela Round', sans-serif;

}

#eofevent{
    color: rgb(0, 132, 219);
}

#pofplanner{
    color: rgb(199, 20, 163);
    
    
}
